Django>=5.0,<6
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg[binary]
dj-database-url
python-dotenv
gunicorn
whitenoise
django-crontab
celery
redis
google-auth>=2.23.0
requests>=2.31.0
resend
